*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232222;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: auto;
}

/* header */
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  width: 126px;
  margin-left: 16px;
}

.phone {
  margin-top: 11px;
  margin-right: 43px;
}
.menu {
  margin-top: 16px;
}
.menu__btn {
  width: 40px;
  background-color: transparent;
  padding: 13px 0;
  border: none;
  cursor: pointer;
  position: relative;
  display: none;
  z-index: 10;
}

.menu__btn::after,
.menu__btn::before {
  content: "";
  left: 0;
  right: 0;
  height: 4px;
  background-color: #001e64;
  position: absolute;
}
.menu__btn::before {
  top: 0;
}
.menu__btn::after {
  bottom: 0;
}

.menu__btn span {
  display: block;
  height: 4px;
  background-color: #001e64;
}

.menu__list {
  display: flex;
}
.menu__item + .menu__item {
  margin-left: 30px;
}
.menu__link {
  color: #001e64;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.menu__link:hover {
  border-bottom: 1px solid #001e64;
}

.header__content {
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 20px;
  margin-top: -90px;
  min-height: calc(100vh - 150px);
}
.title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  color: #001e64;
  max-width: 589px;
  padding-top: 140px;
  padding-left: 112px;
  margin-bottom: 60px;
}

.header-slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 57px;
  padding-bottom: 135px;
}

.header-slier__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 40px;
}
.slick-prev {
  top: 0;
}
.slick-next {
  bottom: 0;
}

.slick-dots {
  list-style: none;
  position: absolute;
  left: 35px;
  top: 58px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slick-dots button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.5;
}
.slick-active button {
  opacity: 1;
}
.slick-dots button::before {
  content: "0";
}
.slick-dots li:nth-child(n + 10) button::before {
  content: "";
}

.header__content-btn {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 14px 88px;
  text-transform: uppercase;
  margin-left: 112px;
  display: inline-block;
  transform: translateY(-100px);
  transition: 0.4s;
  position: absolute;
}
.header__content-btn:hover {
  background: #ffffff;
  color: #001e64;
}

.header__content-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
}

.header__content-link {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
.header__content-link--active {
  font-weight: 700;
}

/* product */

.product {
  padding-top: 100px;
}
.product__inner {
  display: flex;
  justify-content: space-between;
}
.product__name {
  width: 510px;
  text-align: center;
  padding-top: 41px;
}
.product__name-item + .product__name-item {
  margin-top: 30px;
}
.product__name-item {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  cursor: pointer;
}
.product__content {
  width: 600px;
}
.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.product-prev,
.product-next {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.product__name-item.slick-current {
  font-weight: 700;
  font-size: 36px;
  color: #001e64;
}
.product__content-box {
  display: flex;
  justify-content: space-between;
}
.product__content-img {
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 48px;
  margin-bottom: 35px;
}
.product__content-list {
  width: 291px;
  list-style: none;
}
.product__content-list-item {
  font-size: 16px;
  line-height: 19px;
}
.product__content-list-item span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #001e64;
}
.product__content-list-item + .product__content-list-item {
  margin-top: 30px;
}
.product__content-title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
}
.product__content-text {
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 25px;
}
.product__content-btn {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
  padding: 12px 85px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #001e64;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.product__content-btn:hover {
  background: #001e64;
  border: 1px solid #001e64;
  color: #fff;
}

/* benefits */
.benefits {
  background-image: url("../images/benefits-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 290px 0 95px;
}

.benefit__items {
  display: flex;
  justify-content: space-around;
}
.benefit__item {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 180px;
  min-height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/shell.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* seafood */

.seafood {
  padding: 100px 0;
}

.seafood__items {
  margin-bottom: 100px;
}
.seafood__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.seafood__item-title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #001e64;
  margin-bottom: 30px;
  max-width: 490px;
}

.seafood__item--text-right .seafood__item-title {
  max-width: 420px;
}

.seafood__item-text {
  font-size: 16px;
  line-height: 120%;
  max-width: 420px;
  margin-bottom: 20px;
}

.seafood__item--text-right .seafood__item-text {
  margin-right: 180px;
}

.seafood__blockquote {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.seafood__blockquote-img {
  max-width: 800px;
}
.seafood__blockquote-text {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  max-width: 590px;
  margin: 0 auto;
}

/* contacts */

.contacts {
  background-image: url("../images/contacts-bg.jpg");
  background-repeat: no-repeat;
}

.contacts__box {
  margin-left: auto;
  width: 390px;
  background-color: #fff;
  padding: 33px 0 33px 20px;
}
.contacts__box-text {
  width: 195px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 24px;
  color: #001e64;
  margin-bottom: 30px;
}
.contacts__box-list {
  list-style: none;
}
.contacts__box-item {
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
}
.contacts__box-item span {
  display: block;
}

.contacts__box-item a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}
.contacts__box-item a:hover {
  color: #001e64;
  border-bottom: 1px solid rgb(0, 30, 100);
}
/* footer */
.footer {
  padding: 25px 0 110px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 45px 0 23px;
}
.footer__inner .menu {
  padding-bottom: 30px;
}
.footer .logo {
  margin-left: 0;
}

.footer-social__list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-bottom: 19px;
}
.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__icon {
  fill: #c4c4c4;
  transition: fill 0.3s;
}
.footer-social__icon:hover {
  fill: #001e64;
}

/* responsive */

@media (max-width: 1160px) {
  .product__name {
    width: 350px;
  }
  .footer .logo,
  .footer .menu {
    display: none;
  }
  .footer {
    padding: 40px 0 40px;
  }
  .footer__inner {
    justify-content: center;
  }
  .footer-social__list {
    padding-bottom: 0;
  }
}

@media (max-width: 1100px) {
  .seafood__item-content {
    padding-right: 20px;
  }
  .seafood__item--text-right .seafood__item-content {
    padding-right: 0;
    padding-left: 20px;
  }
}

@media (max-width: 1000px) {
  .menu__list {
    position: absolute;
    left: 20%;
    right: 20%;
    background-color: #fff;
    display: block;
    top: -350px;
    transition: 0.5s;
    z-index: 5;
  }
  .menu__list.menu__list--active {
    top: 75px;
  }
  .menu__item + .menu__item {
    margin-left: 0;
  }

  .menu__link {
    display: block;
    padding: 20px 0;
    text-align: center;
  }
  .menu__link:hover {
    border: none;
  }

  .menu__btn {
    display: block;
  }
  .menu {
    margin: 12px 20px 0 auto;
  }
  .product__name {
    width: 250px;
  }
}

@media (max-width: 950px) {
  .seafood__item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .seafood img {
    max-width: 100%;
  }
  .seafood__item--text-right {
    flex-wrap: wrap-reverse;
  }
  .seafood__item-content {
    padding-right: 0;
  }
  .seafood__item-title,
  .seafood__item-text {
    max-width: 100%;
  }
  .seafood__item--text-right .seafood__item-content {
    padding-left: 0;
  }
  .seafood__item--text-right .seafood__item-text {
    margin-right: 0;
  }
}

@media (max-width: 890px) {
  .product__inner {
    display: block;
  }
  .product__content {
    margin: 0 auto;
  }
  .product__name {
    width: 100%;
    padding-top: 0;
    margin-bottom: 80px;
  }
  .product__name-item + .product__name-item {
    margin-top: 0;
  }
  .product__name-item.slick-current {
    line-height: 44px;
  }
  .product__name .slick-dots {
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
  }
  .product__name .slick-dots button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c4c4c4;
    font-size: 0;
    margin: 0 5px;
  }
  .product__name .slick-active button {
    background-color: #001e64;
  }
}

@media (max-width: 754px) {
  .title {
    font-size: 50px;
    line-height: 66px;
    max-width: 100%;
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .product__content {
    width: 100%;
  }
  .benefits {
    display: none;
  }
  .seafood {
    padding: 50px 0;
  }
  .seafood__items {
    margin-bottom: 50px;
  }
  .contacts {
    background-image: none;
  }
  .contacts__box {
    width: 100%;
    padding: 33px 0 33px 0;
  }
}

@media (max-width: 600px) {
  .product__content-box {
    display: block;
  }
  .product__content-list {
    width: 100%;
  }
}

@media (max-width: 470px) {
  .header-slider {
    padding-left: 50px;
  }
  .slick-dots {
    left: 5px;
  }
  .slick-prev,
  .slick-next {
    left: 9px;
  }
  .header__content-btn {
    margin-left: 50px;
  }
  .title {
    font-size: 34px;
    line-height: 44px;
  }
  .product {
    padding-top: 50px;
  }
  .product__content-btn {
    padding: 12px 55px;
  }
}

@media (max-width: 370px) {
  .title {
    padding-top: 125px;
  }
  .phone {
    margin-right: 0;
  }
  .logo {
    margin-left: 0;
  }
  .menu__list {
    left: 10%;
    right: 10%;
  }
  .header-slider {
    padding-left: 0;
    padding-top: 0;
  }
  .header__content-btn {
    margin-left: 0;
    padding: 14px 55px;
  }
}
